%h2 New Survey

%br

%div
  = bootstrap_form_with model: [:admin, @survey], local: true do |f|

    - if @survey.errors.any?
      #error_explanation
        %h2
          = pluralize(@survey.errors.count, "error")
          prohibited
          this survey from being saved:
        %ul
          - @survey.errors.full_messages.each do |msg|
            %li= msg


    = f.text_field :name

    = f.collection_check_boxes :question_ids, Question.all, :id, :text, { class: 'question-selector-target' }
    = render "category_tree", category_partial: "category_selector", show_questions: true


    %p= f.submit "Create"
