%h2 New Survey

%br

%div
  = bootstrap_form_with model: [:admin, @survey], local: true do |f|

    - if @survey.errors.any?
      #error_explanation
        %h2
          = pluralize(@survey.errors.count, "error")
          prohibited
          this survey from being saved:
        %ul
          - @survey.errors.full_messages.each do |msg|
            %li= msg


    = f.text_field :name

    = f.submit "Create"
