%h2= @category

- @tree_category.child_tree_categories.each do |ctc|
  - school_tree_category = ctc.school_tree_categories.for_school(@school).first
  - count = school_tree_category.responses_count
  - average = school_tree_category.responses_average
   
  .category
    %h4= link_to ctc.category, school_tree_category_path(@school, @tree, ctc.category)
    = render "bar", value: average
    %p= ctc.category.description

- @tree_category.tree_category_questions.each do |tcq|
  - stcq = tcq.school_tree_category_question(@school)
  .question.py-3
    %p
      %b= stcq.question.text
    %p
      Responses:
      = stcq.responses_count
    %p
      Average:
      = stcq.responses_average 
    %p
      Source:
      = stcq.question.kind.split('_').last.titleize

- if @tree_category.administrative_measure?
  .administrative_measure.py-3
    %p= "Best Possible Value: #{@tree_category.nonlikert}" 
    %p= "This School: #{@school_tree_category.nonlikert}"
