%h1 Listing school_tree_categories

%table
  %thead
    %tr
      %th Category
      %th School
      %th Response count
      %th Answer index total
      %th Zscore
      %th Nonlikert
      %th Year
      %th
      %th
      %th

  %tbody
    - @school_tree_categories.each do |school_tree_category|
      %tr
        %td= school_tree_category.category
        %td= school_tree_category.school
        %td= school_tree_category.response_count
        %td= school_tree_category.answer_index_total
        %td= school_tree_category.zscore
        %td= school_tree_category.nonlikert
        %td= school_tree_category.year
        %td= link_to 'Show', school_tree_category
        %td= link_to 'Edit', edit_school_tree_category_path(school_tree_category)
        %td= link_to 'Destroy', school_tree_category, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New School category', new_school_tree_category_path
