= bootstrap_form_with model: [:admin, @tree_category], local: true do |f|
  - if @tree_category.errors.any?
    #error_explanation
      %h2
        = pluralize(@tree_category.errors.count, "error")
        prohibited
        this
        = @tree_category.administrative_measure? ? 'administrative measure' : 'category'
        from being saved:
      %ul
        - @tree_category.errors.full_messages.each do |msg|
          %li= msg

  = f.fields_for :category do |ff|
    = f.text_field :name
    = f.text_field :blurb
    = f.text_area :description
    = f.hidden_field :administrative_measure
    = f.select :parent_tree_category_id, @parent_tree_categories.map { |pc| [pc.name, pc.id] }, { include_blank: true }, {class: 'category-selector-target'}
    %p Or click a category in the tree below to select it as the parent.
    = render "tree", template: "selector"

  %br
  %p= f.submit @tree_category.new_record? ? "Create" : "Update"
