%h3
  New
  - if @tree_category.administrative_measure?
    Administrative Measure
  - elsif @tree_category.parent_tree_category.present?
    Subcategory
  - else
    Category

  - if @tree_category.parent_tree_category.present?
    - level = @tree_category.path.length
    Under
    = "\"#{@tree_category.parent_tree_category.name}\""

- if @tree_category.parent_tree_category.present?
  %p= "(Category Level #{level})"

- if @tree_category.administrative_measure?
  %p 
    Administrative measures are factual data about schools, 
    such as the student-teacher ratio. They are not survey questions.

%br

%div= render 'form'
