= bootstrap_form_with model: [:admin, @school_category], local: true do |f|

  - if @school_category.errors.any?
    #error_explanation
      %h2
        = pluralize(@school_category.errors.count, "error")
        prohibited
        this administrative measure from being saved:
      %ul
        - @school_category.errors.full_messages.each do |msg|
          %li= msg


  %p= "What is the #{@school_category.to_s.downcase}?"

  = f.text_field :nonlikert

  %br
  %p= f.submit @school_category.new_record? ? "Create" : "Update"
