%p#notice= notice

%h1 Listing schedules
%table
  %tr
    %th Name
    %th Description
    %th School
    %th Frequency hours:
    %th Show
  - @schedules.each do |schedule|
    %tr
      %td= schedule.name
      %td= schedule.description
      %td= link_to(@school.name, school_admin_path(@school))
      %td= frequency_description(schedule.frequency_hours)
      %td= link_to 'Show', edit_school_schedule_path(@schedule.school, schedule)
