= bootstrap_form_with url: [:admin, @school_tree_category], model: @school_tree_category, local: true do |f|

  - if @school_tree_category.errors.any?
    #error_explanation
      %h4
        = pluralize(@school_tree_category.errors.count, "error")
        prohibited
        this administrative measure from being saved:
      %ul
        - @school_tree_category.errors.full_messages.each do |msg|
          %li= msg


  %p= "What is the #{@school_tree_category.to_s.downcase}?"

  = f.text_field :nonlikert

  %br
  %p= f.submit @school_tree_category.new_record? ? "Create" : "Update"
