= bootstrap_form_with url: [:admin, @school], model: @school, local: true do |f|

  - if @school.errors.any?
    #error_explanation
      %h4
        = pluralize(@school.errors.count, "error")
        prohibited
        this school from being saved:
      %ul
        - @school.errors.full_messages.each do |msg|
          %li= msg


  = f.text_field :name

  %br
  %p= f.submit @school.new_record? ? "Create" : "Update"
