= bootstrap_form_with url: [:admin, @question], model: @question, local: true do |f|

  - if @question.errors.any?
    #error_explanation
      %h2
        = pluralize(@question.errors.count, "error")
        prohibited
        this category from being saved:
      %ul
        - @question.errors.full_messages.each do |msg|
          %li= msg


  = f.text_field :text
  - 5.times do |i|
    = f.text_field "option#{i + 1}"
  = f.select :category_id, @categories.map { |c| [c.name, c.id] }, { include_blank: true }, { class: 'tree-category-selector-target' }
  = render "tree", template: "selector"
  %p= f.submit @question.new_record? ? "Create" : "Update"
