%h2= @question.text

%br

%p
  = link_to("Edit Question", edit_admin_question_path(@question))

%br

%h3 Options
- 5.times do |i|
  %p= @question.send("option#{i + 1}")

%br

%p
  %b Category:
  = link_to(@question.category, @question.category)


%br
%br

= render 'category_tree', template: "link", show_questions: true
