- missing_administrative_measure = SchoolTreeCategory.missing_administrative_measure
- incomplete_tree_categories = TreeCategory.incomplete
- unless missing_administrative_measure.empty? && incomplete_category.empty?
  .missing
    %h3.error Missing
    %p The following items are missing or incomplete.
    %ul
      - missing_administrative_measure.each do |school_tree_category|
        %li{class: "school_tree_category-#{school_tree_category.id}"}
          = "#{school_tree_category.name} is missing:"
          = link_to "Fix administrative measure >", edit_admin_school_tree_category_path(school_tree_category), class: 'error'
      - incomplete_tree_categories.each do |tree_category|
        %li{class: "tree_category-#{tree_category.id}"}
          = "#{tree_category} needs a subcategory, questions, or an administrative measure:"
          = link_to "Fix category >", admin_tree_category_path(tree_category), class: 'error'


.schools.py-3
  %h3 Schools
  %p Please add all of the school communities that will be surveyed.
  - School.order(:name).all.each do |school|
    %p= link_to school, [:admin, school]
  %p
    %a= link_to "+ Create New School", new_admin_school_path


.tree.py-3
  %h3 Website Trees
  %p Each tree represents a years worth of data on the website.

  - @trees.each do |tree|
    = link_to tree, [:admin, tree]
