%h2= @school

- @root_school_tree_categories.each do |school_tree_category|
  - stats = ""
  - count = school_tree_category.responses_count
  - average = school_tree_category.responses_average
  - if count > 0
    - stats = "(#{count} Responses, Avg: #{average})"

  %p
    = link_to "#{school_tree_category.tree_category} #{stats}", school_tree_category
