= form_for @survey do |f|
  - if @survey.errors.any?
    #error_explanation
      %h4= "#{pluralize(@survey.errors.count, "error")} prohibited this survey from being saved:"
      %ul
        - @survey.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :survey_monkey_id
    = f.text_field :survey_monkey_id
  .actions
    = f.submit 'Save'
