%p#notice= notice

%p
  %b Name:
  = @survey.name
%p
  %b Survey monkey:
  = link_to @survey.survey_monkey_id, "https://api.surveymonkey.com/v3/surveys/#{@survey.survey_monkey_id}"

= link_to 'Edit', admin_edit_survey_path(@survey)
