= bootstrap_form_with model: [:admin, @category], local: true do |f|

  - if @category.errors.any?
    #error_explanation
      %h2
        = pluralize(@category.errors.count, "error")
        prohibited
        this
        = @category.administrative_measure? ? 'administrative measure' : 'category'
        from being saved:
      %ul
        - @category.errors.full_messages.each do |msg|
          %li= msg


  = f.text_field :name
  = f.text_field :blurb
  = f.text_area :description
  = f.hidden_field :administrative_measure
  = f.select :parent_category_id, @parent_categories.map { |pc| [pc.name, pc.id] }, { include_blank: true }, {class: 'category-selector-target'}
  %p Or click a category in the tree below to select it as the parent.
  = render "tree", template: "selector"
  %br
  %p= f.submit @category.new_record? ? "Create" : "Update"
