%h2 New Category

%br

%div
  = bootstrap_form_with model: [:admin, @category], local: true do |f|

    - if @category.errors.any?
      #error_explanation
        %h2
          = pluralize(@category.errors.count, "error")
          prohibited
          this category from being saved:
        %ul
          - @category.errors.full_messages.each do |msg|
            %li= msg


    = f.text_field :name
    = f.text_field :blurb
    = f.text_area :description
    = f.select :parent_category_id, @parent_categories.map { |pc| [pc.name, pc.id] }, { include_blank: true }, {class: 'category-selector-target'}
    = render "category_tree", template: "selector"
    = f.submit "Create"
