%h2 New Category

%br

%div
  = bootstrap_form_with model: [:admin, @category], local: true do |f|
    = f.text_field :name
    = f.text_field :blurb
    = f.text_area :description
    = f.submit "Create"
