- if @tree.present?
  .tree
    - if template == "link"
      %h4
        Tree:
        = link_to @tree, [:admin, @tree]
      
    - @tree.tree_categories.root.each do |tc|
      .tree-category{data: {tree_category_id: tc.id}}
        = render "category_#{template}", tree_category: tc
        - if local_assigns[:show_questions]
          = render 'category_questions', tree_category: tc, template: template
        = render "child_categories", tree_category: tc, template: template, show_questions: local_assigns[:show_questions]
    
    - if @tree.tree_categories.empty?
      %p
        No categories currently exist for this tree
      %p= link_to("Create the first cateogry >", new_admin_tree_category_path(@tree))